@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Exo", sans-serif;
  font-size: 62.5%;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
}

.container {
  max-width: 1120px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.open {
  display: block;
}

.heading {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: stretch;
  gap: 40px;
  color: rgb(44 43 43 / 1);

  &-decor {
    width: 3px;

    background-color: rgb(193 15 21 / 1);
  }
  &-content {
    font-size: 4rem;
    font-weight: 4.8rem;
    font-weight: 700;
  }
}
.active-modal {
  width: 100vw;
  height: 100vh;
}
