$red: #c10f15;
$description: #7e7e7e;
$lightGray: #ffffff80;
$gray: rgb(44 43 43 / 1);
$green: rgb(22 163 74 / 1);
$white: white;
$bgTalentSection: rgb(248 248 248 / 1);
$shadow: #bababa;
$modal: rgba(0, 0, 0, 0.4);
