.course {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__section-wrap {
    padding: 40px 0;
    &:nth-child(odd) {
      background-color: rgb(248 248 248 / 1);
    }
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: 1fr;
    }
    gap: 50px;

    &-aside.course__content {
      display: flex;
      flex-shrink: 1;
      flex-direction: column;
      gap: 40px;
    }

    &-aside.right-side {
      width: 100%;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &-heading {
      @include mobile {
        width: 80%;
      }
      font-size: 3.2rem;
      line-height: 4rem;
    }
    &-description {
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $description;
    }
    &-listcourse {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    &-course {
      font-size: 1.8rem;
      line-height: 2.8rem;

      &-link {
        display: flex;
        align-items: center;
        gap: 30px;
        color: black;
        text-decoration: none;
        font-weight: 600;

        i {
          padding: 8px;
          transition: all 0.3s ease-in-out;
          color: $red;
        }

        i:hover {
          transform: translateX(-10px);
        }
      }
    }

    &-btn-more {
      width: fit-content;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: white;
      font-weight: 600;
      padding: 9px 12px;
      border-radius: 2.4rem;
      border: none;
      outline: none;
      background-color: $red;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        filter: brightness(110%);
      }
    }
  }
}
