.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  background-color: $white;
  align-items: center;
  box-shadow: 0px 8px 17px -6px rgba(0, 0, 0, 0.26);
  z-index: 11;

  @include mobile {
    box-shadow: none;
  }

  @include tablet {
    box-shadow: none;
  }

  &__wrap {
    position: relative;
    width: 100%;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
      justify-content: flex-start;
    }
    gap: 40px;
  }

  &__logo {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    transition: all 0.3s ease-in-out;

    @include desktop {
      &:hover {
        background-color: #f1f1f1;
      }
    }

    img {
      width: 80px;
      @include desktop {
        width: 92px;
      }
      height: 40px;
    }
  }

  &__navlink {
    transition: all 0.4s ease-in-out;

    &.open {
      height: calc(100vh - 80px);
    }
    position: absolute;
    @include mobile {
      height: 0;
      display: flex;
      top: 120%;
      left: 0;
      right: 0;
      background-color: $white;
      justify-content: flex-start;
      overflow: hidden;
    }
    @include tablet {
      height: 0;
      display: flex;
      top: 120%;
      left: 0;
      right: 0;
      background-color: $white;
      justify-content: flex-start;
      overflow: hidden;
    }
    @include desktop {
      position: relative;
      height: inherit;
    }

    .navlink__items {
      height: fit-content;
      display: flex;
      flex-direction: column;

      @include desktop {
        height: 100%;
        flex-direction: row;
        align-items: center;
      }
      align-items: flex-start;
      gap: 20px;
      list-style: none;

      .navlink__item {
        position: relative;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2.4rem;

        i {
          font-size: 1.3rem;
          font-weight: bolder;
        }

        @include desktop {
          &:hover {
            cursor: pointer;
          }
        }

        .navlink__link {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @include desktop {
            justify-content: center;
          }
          gap: 16px;
          padding: 8px;
          transition: all 0.3s ease-in-out;
          border-radius: 8px 12px;
          text-decoration: none;
          color: black;

          @include desktop {
            &:hover {
              background-color: #f1f1f1;
            }
          }
        }
        @include desktop {
          &:hover .fa-angle-down {
            transform: rotate(180deg);
          }

          &:hover .navlink__sub {
            display: block;
          }
        }

        .navlink__sub {
          z-index: 10;
          @include mobile {
            &.open {
              display: block;
            }

            // @include desktop {
            //   display: none;
            // }
            display: none;
            width: 100%;
            max-height: 230px;
            background-color: white;
            list-style: none;

            border-radius: 8px;
            overflow-y: scroll;

            &-item {
              width: 100%;
              min-height: 56px;

              //   @include desktop {
              //     &:hover .navlink__sub {
              //       display: block;
              //     }
              //   }

              .navlink__sub-2 {
                &.open {
                  display: block;
                }
                display: none;

                width: 100%;

                overflow: hidden;
                background-color: white;
                list-style: none;
                left: 100%;
                top: 0;

                border-radius: 8px;

                &-item {
                  position: relative;
                  width: 100%;
                  height: 56px;
                }

                &-link {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  text-decoration: none;
                  color: rgb(105 105 105 / 1);
                  padding: 8px 16px;
                }
              }
            }

            &-link {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-decoration: none;
              color: rgb(105 105 105 / 1);
              padding: 16px 16px;
              gap: 10px;

              //   @include desktop {
              //     &:hover {
              //       background-color: #161111;
              //     }
              //   }
            }
          }
          @include tablet {
            &.open {
              display: block;
            }

            display: none;
            width: 100%;
            max-height: 230px;
            background-color: $white;
            list-style: none;

            border-radius: 8px;
            overflow-y: scroll;

            &-item {
              width: 100%;
              min-height: 56px;

              .navlink__sub-2 {
                &.open {
                  display: block;
                }
                display: none;

                width: 100%;

                overflow: hidden;
                background-color: $white;
                list-style: none;
                left: 100%;
                top: 0;

                border-radius: 8px;

                &-item {
                  position: relative;
                  width: 100%;
                  height: 56px;
                }

                &-link {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  text-decoration: none;
                  color: rgb(105 105 105 / 1);
                  padding: 8px 16px;
                }
              }
            }

            &-link {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-decoration: none;
              color: rgb(105 105 105 / 1);
              padding: 16px 16px;
              gap: 10px;
            }
          }

          @include desktop {
            display: none;
            position: absolute;
            width: 460px;
            background-color: white;
            list-style: none;
            left: 0;
            top: 100%;
            border: 1px solid #f1f1f1;
            border-radius: 8px;

            &-item {
              position: relative;
              width: 100%;
              height: 56px;

              @include desktop {
                &:hover .navlink__sub-2 {
                  display: block;
                }
              }

              .navlink__sub-2 {
                display: none;
                position: absolute;
                width: 460px;
                background-color: white;
                list-style: none;
                left: 100%;
                top: 0;
                border: 1px solid #f1f1f1;

                border-radius: 8px;

                &-item {
                  position: relative;
                  width: 100%;
                  height: 56px;
                }

                &-link {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  text-decoration: none;
                  color: rgb(105 105 105 / 1);
                  padding: 8px 16px;

                  @include desktop {
                    &:hover {
                      background-color: #f1f1f1;
                    }
                  }
                }
              }
            }

            &-link {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-decoration: none;
              color: rgb(105 105 105 / 1);
              padding: 8px 16px;

              @include desktop {
                &:hover {
                  background-color: #f1f1f1;
                }
              }
            }
          }
        }
      }
    }
  }

  &__icon-bars {
    display: block;
    @include desktop {
      display: none;
    }
    width: 40px;
    height: 40px;
    padding: 10px;

    .bars {
      font-size: 2.4rem;
      color: $shadow;
    }
  }
}
