%btn {
  background-color: rgb(44 43 43 / 1);
  outline: none;
  border: none;
  padding: 9px 12px;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
}
